body {
    user-select: none;
    width: 90%;
    margin: auto;
    border-color: #2A2B24;
    font-weight: bold;
    font-size: 2rem;
    background-color: #273E47;
    color: white;
}

h1 {
    margin: 5%;
    text-align: center;
    font-size: 5rem;
}

label {
    display: block;
}

input {
    margin: 5%;
}

input[type='number'] {
    width: 90%;
}

button {
    padding: 10%;
    width: 100%;
    height: 5rem;
    font-size: 2.75rem !important;
    background-color: #801B14 !important;
    color: white !important;
}

#result {
    text-align: center;
    font-size: 3rem;
    margin: 10%;
}

#error {
    display: none;
}

@media only screen and (max-width: 1000px) {

    body {
        font-size: 3rem;
    }

    button {
        height: 5rem;
        font-size: 2.75rem !important;
    }

    input {
        height: 5rem;
    }

}